@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-coins {
  animation: slide-left-to-right 1s forwards;
}

@keyframes coin-animation {
  from {
    transform: translateY(0);
    opacity: 5;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .animate-slide-left-right {
      animation: slide-left-to-right 0.5s ease-out forwards;
    }

  
